#page-wrapper {
  max-width: 900px;
  min-width: 900px;
  margin: auto;
  font-size: 8px;
}

#title-icon {
  position: relative;
  top: 16px;
}

#title {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 47px;
  font-weight: 500;
  padding-left: 9px;
}

#first-title-letter {
  letter-spacing: -2.5px;
}

#last-title-letter {
  position:relative;
  right: 3px;
}

.title-cap-letter {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 50px;
  top:-2px;
}

#header {
  padding-top: 15px;
}

#main-caption {
  position: relative;
  top: -12px;
  padding-left: 52px;
  font-size: 11px !important;
}

.social-icon {
  position: relative;
  left: 482px;
}

.social-icon:nth-last-child(4) {
  margin-left: 10px;
}

.light-grey-text {
  color: rgb(187, 192, 189) !important;
}

.slashed-hr {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    rgb(179, 182, 181) 1px,
    transparent 3px,
    transparent 0px
  );
  height: 13px;
  border: transparent;
  margin-top: 22px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1px;
  font-stretch: semi-condensed;
  margin: 50px 0 4px 0;
  transform: scaleY(1.5);
}

.alt-text {
  font-family: Helvetica, sans-serif;
  font-stretch: semi-condensed;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(99, 99, 99);
  letter-spacing: .01px;
  margin: 0 0 30px 0;
  vertical-align: top;
  font-size: 14px;
}

#print-option {
  position: relative;
  left: 638px;
}
#printer-icon {
  margin-right: 2px;
}

p.instruction-txt {
  font-size: 20px;
  line-height: 130%;
  text-indent: 35px;
  color:rgb(81, 83, 82);
}

#notecard {
  position: relative;
  line-height: 32px;
  margin-top: 30px;
}

#left-list {
  position: absolute;
  top: 25px;
  left: 20px;
}

#right-list {
  position: absolute;
  top: 25px;
  right: 80px;
}

ul {
  list-style-type: none;
}

li {
  max-width: 360px;
  font-size: 20px;
  font-family: Bradley Hand, cursive;
  word-wrap:break-word;
  color: rgb(111, 112, 77)
}

.checked {
  text-decoration: line-through;
}

.list-label {
  padding-left: 6px;
}

.checkbox {
  position: relative;
  top: 2px;
  height: 16px;
  width: 18px;
}


.checkbox-checked {
  position: relative;
  top: 4px;
  height: 20px;
  width: 18px;
}